---

---

<footer class="">
  <div class="container">
    <div class="even-columns">
      <div>Thank you for stopping by</div>
      <div>
        <span class="">
          You could be anywhere,
          <br />
          but you are here, <br />
          and it is now <span id="time-now"></span>
        </span>
      </div>
    </div>
  </div>
</footer>
