---
// data imports
import navData from "../data/navData";
---

<header class="primary-header fw-bold fs-450">
  <div class="container">
    <nav class="primary-navigation">
      {navData.map((item) => <a href={item.path}>{item.name}</a>)}
    </nav>
  </div>
</header>
